:root{
  /* COLORS========================= */
  --white: #ffffff;
  --black: #000000;
  --text-color: #615a5a;
  --bg-color: #e2e2e2;
  --fg-color: #f5edf5;
  --accent-color: #ff0008;
  --secondary-color: #00ff6a; 
  --tertiary-color: #ffd400; 
  --pop-color:  rgba(3, 136, 252, 0.412);


  /* FONT SIZE========================= */
  --t-size: 12px;
  --s-size: 16px;
  --n-size: 24px;
  --m-size: 32px;
  --l-size: 50px;
  --xl-size: 70px;

  /* FONT WEIGHT========================= */
  --r-weight: 300;
  --n-weight: 400;
  --m-weight: 500;
  --b-weight: 700;

  /* PADDING========================= */
  --s-space: 5px;
  --n-space: 10px;
  --m-space: 15px;
  --l-space: 20px;
  --xl-space: 50px;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

