.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(95deg, yellow, red);
    height: 100vh;
    margin: auto;
    color: white;
}
.subTitle{
    color: #E20613;
}
.details{
    font-size: var(--t-size);
    margin: 20px;
    width: 50%;
    text-align: center;
    line-height: 20px;
    color: var(--fg-color);
}
.main{
    display: flex;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    padding: 20px;
    margin-top: 50px;


}
.container{
    width: 40%;
    height: auto;
    padding: 5px;

}
.title{
    font-size: 46px;
    margin-bottom: 20px;
}
.heading{
    color: #E20613;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 20px;

}
.paragraph{
    color: var(--text-color);
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 30px;

}
.button{
    height: 60px;
    background: linear-gradient(90deg,rgb(0, 12, 249), rgb(93, 204, 255));
    color: var(--white);
    font-size: var(--s-size);
    border: none;
    outline: none;
    border-radius: 5px;
    width: 50%;
    display: block;
    
}
.button:hover{
    background: linear-gradient(90deg, yellow ,rgb(93, 204, 255))
   
}
.arrow{
    transform:translateX(0);
    margin-bottom: -3px;
    animation: moveLeftRight ease-in-out infinite 2s;
}
@keyframes moveLeftRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(25px);
    }
    100% {
        transform: translateX(0);
    }
}
.benefits{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    color: #0A7836;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -2px;

}
/* .banner{
    width: 500px;
    height: 450px
} */