.main{
    width: 80vw;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero{
    width: 80vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.container{
    width: 100%;
    height: auto;
    background-color: red;


}